body {
    background-image: url('../ressources/Pizza3.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    height: 100vh;
    font-family:Helvetica;
    display: block;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group label {
    width: 48%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 48%;
    padding: 8px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #FFE6CC; 
    border-radius: 5px;
}

.input-full {
    width: 100%;
}

.action-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.action-button:hover {
    background-color: #FFE6CC; 
}

.divider {
    height: 1px;
    background-color: white;
    margin-bottom: 15px;
    margin-top:15px; 
}

.navigation-button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px; 
}

.navigation-button:hover {
    background-color: #FFE6CC; 
}

.navigation {
    position:absolute; 
    top: 10px;
    right: 10px;
    display: flex;
    gap: 15px; /* Space between buttons */
    margin-right: 15px; 
    width: 100vw; 
}

.pos-center{
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none; 
}