body {
    background-image: url('../ressources/Pizza3.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    height: 100vh;
    font-family:Helvetica;
    display: block;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.register-box {
    background-color: #ff9933; 
    border: 2px solid black;
    padding: 20px;
    width: 400px;
    text-align: center;
    align-self: center;
    visibility: visible;
}

.login-box {
    background-color: #ff9933; 
    border: 2px solid black;
    padding: 20px;
    width: 300px;
    text-align: center;
    visibility: visible;
}

.login-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #f5e0cc; 
}

.order-box {
    background-color: #f5e0cc; /* Light tan color */
    border: 2px solid black;
    padding: 40px;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 50%; /* Circle shape */
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options div {
    width: 45%;
    text-align: center;
}

.options select {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
}

/* 
Start of general style
*/

.h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group label {
    width: 48%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 48%;
    padding: 8px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #FFE6CC; 
    border-radius: 5px;
}

.input-full {
    width: 100%;
}

.action-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.action-button:hover {
    background-color: #FFE6CC; 
}

.divider {
    height: 1px;
    background-color: white;
    margin-bottom: 15px;
    margin-top:15px; 
}